/* stylelint-disable */
@mixin container {
  box-sizing: border-box;
  width: 100%;
  min-width: map-get($widths, sm);
  max-width: calc(map-get($widths, sm) + 200px);
  padding-right: $gap-sm;
  padding-left: $gap-sm;
  margin-right: auto;
  margin-left: auto;

  @include media-min(md) {
    min-width: map-get($widths, md);
    max-width: calc(map-get($widths, md) + 200px);
    padding-right: $gap-md;
    padding-left: $gap-md;
  }

  @include media-min(xl) {
    max-width: map-get($widths, xl);
    padding-right: $gap-xl;
    padding-left: $gap-xl;
  }
}
/* stylelint-enable */
