@mixin title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--black);

  @include media-min(md) {
    font-size: 43px;
    line-height: 50px;
  }

  @include media-min(xl) {
    font-size: 53px;
    line-height: 57px;
  }
}
