body {
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;

  font-weight: 400;
  font-size: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--grey);

  background-color: var(--white);
}

img {
  display: block;
}
